# SPDX-FileCopyrightText: Florian Maurer, Christian Rieke
#
# SPDX-License-Identifier: AGPL-3.0-or-later

*.orig
.spyproject
.vscode
__pycache__
*.log
*.grb
*.ipynb
.venv
config.yml
ninja_*
/axxteq
/env/
.env

crawler/data/Waermebedarf_NRW.gdb/
data/pgadmin
data/open-data-ha/data
/dashboard/node_modules
