# SPDX-FileCopyrightText: Florian Maurer, Christian Rieke
#
# SPDX-License-Identifier: AGPL-3.0-or-later

*.orig
.spyproject
.vscode
__pycache__
*.log
*.grb
*.ipynb
.venv
.env
*.db
*.egg-info
shapes
config.yml
data/pgadmin
data/open-data-ha
